exclude assets/*
exclude docs/*
exclude images/*
exclude tests/*
exclude .vscode/*
recursive-exclude .github/ *
recursive-exclude packages/dash-pydantic-form/dash_pydantic_form/locales *.pot *.po
recursive-include packages/dash-pydantic-form/dash_pydantic_form/locales *.mo
